header{
  background-color: #0769B5;
  width: 100%;
  height: 20%;
  line-height: 100%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
  position: relative;
}

h1{
  text-align: center;
  color: white !important;
  margin: 0;
  padding: 25px;
}

td {
  cursor: pointer;
 }
 .dang{
   background-color: #a71818;
   color :white;
 }

.highlight {
  background-color: #12ab6a;
  color : black;
 }
.footer p{
  color: red !important;
}
