h2{
  text-align: center;
  color: white;
  margin: 0;
  padding: 25px;
}

p{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

header{
  background-color: #0769B5;
  width: 100%;
  height: 20%;
  line-height: 100%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
  position: relative;
}

button{
  float: left;
  display: inline-block;
  margin-left: 5% !important;
}

input[type="submit"]{
  display: inline-block;
  float: right;
  margin-right: 5%;
}
select{
  clear:both;
  float: left;
  display: inline-block;
  width: 90%;
  height: 100%;
  margin-bottom: 20px;
  margin-left: 5%;
  font-family: inherit;
  background-color: transparent;
  color: #0769B5;
  border: none;
  border-bottom: 1px solid #0769B5;
}
select:focus,input[type="number"] {
  outline: none;}

input[type="number"]{
  float: left;
  width: 90%;
  height: inherit;
  margin-bottom: 6%;
  margin-left: 5%;
  font-family: inherit;
  background-color: transparent;
  color: #0769B5;
  border: none;
  border-bottom: 1px solid #0769B5;
}
form{
  width: 100%;
  border-radius: 3px;
  text-align: center;
}
